/*--------------------------------------*
 * foundation
 *--------------------------------------*/
@use "./foundation/reset";
@use "./foundation/system";
// @use "./foundation/base";

/*--------------------------------------*
 * layout
 *--------------------------------------*/
// @use "./layout/header";
// @use "./layout/footer";

/*--------------------------------------*
 * object
 *--------------------------------------*/
/*-------------------
 * component
-------------------*/
// @use "./object/component/loading";
// @use "./object/component/section";
// @use "./object/component/table";
// @use "./object/component/lists";
// @use "./object/component/details";
// @use "./object/component/form";
// @use "./object/component/cta";

/*-------------------
 * project
-------------------*/
// @use "./object/project/contact";

/*-------------------
 * object
-------------------*/
// @use "./object/utility/display";

//マップ型変数breakpointsを定義
$breakpoints: (
  //キー値
  "sm": "screen and (max-width: 576px)",
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 992px)",
  "xl": "screen and (max-width: 1200px)"
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

@mixin title {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  position: relative;

  ::after {
    position: absolute;
    top: 54px;
    left: 50%;
    transform: translateX(-50%);
    color: #3ba6c9;
    font-weight: bold;
    font-size: 1.6rem;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  font-size: 1.6em;
  line-height: 1.5;
}

img {
  width: 100%;
}

.h3-title {
  font-size: 2.8rem;
  font-weight: bold;
}

.inner {
  max-width: 1022px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.pt45 {
  padding-top: 45px;
}

.pt50 {
  padding-top: 50px;
}

.pt90 {
  padding-top: 90px;
}

.row-r {
  flex-direction: row-reverse !important;
}

.header {
  position: fixed;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  height: 94px;
  width: 100%;
  z-index: 20;
  background-color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__box {
    width: 47px;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-left: 16px;
  }
}

.nav {
  &__lists {
    display: flex;
  }

  &__list {
    font-weight: bold;
    margin-left: 46px;

    &:nth-child(3) {
      margin-right: 0;
    }
  }
}

.button {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 12px 36px;
  background: transparent linear-gradient(90deg, #fa41cc 0%, #6020b0 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  opacity: 1;
}

.mv {
  padding-top: 224px;
  padding-bottom: 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  &__inner {
    display: flex;
  }

  &__img {
    position: absolute;
    background: url(/asset/img/楕円形\ 1.svg) no-repeat center center/cover;
    width: 708px;
    height: 708px;
    right: -88px;
    top: -28px;
  }
}

.t-container {
  width: 400px;
  padding-right: 48px;
  z-index: 10;
  margin-right: auto;

  &__title {
    font-size: 3.2rem;
    font-weight: bold;
    padding-bottom: 22px;
    padding-top: 24px;
    line-height: 1.7;
  }

  &__text {
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.7;
  }
}

.img__container {
  max-width: 518px;
  z-index: 10;
}

.features {
  padding-top: 146px;

  &__inner {
    text-align: center;
    overflow: visible;
  }

  &-title {
    @include title;

    ::after {
      content: "FEATURES";
    }
  }

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.t-box {
  text-align: left;
  max-width: 460px;

  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
  }

  &__text {
    font-weight: bold;
    line-height: 1.6;
    word-break: break-all;
  }
}

.img-box {
  max-width: 380px;
  min-width: 280px;
}

.price-title {
  @include title;

  ::after {
    content: "PRICE";
  }
}
