<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="robots" content="noindex" />
<title>title</title>
<!-- キーワード -->
<meta
  name="keywords"
  content="キーワード1,キーワード2,キーワード3...body内で記載できなかったキーワードがあれば、入れておくと良いでしょう。"
/>
<!-- サイトの説明 -->
<meta name="description" content="ページの要約。130文字以内(目安)" />
<!-- 重複するURLを一本化 -->
<link rel="canonical" href="正規化するURL" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="サイトのURL" />
<meta property="og:title" content="上記titleと同じとする。" />
<meta property="og:description" content="上記descriptionと同じとする。" />
<meta property="og:image" content="画像を絶対パスで記述" />

<!-- Twitter -->
<meta
  property="twitter:card"
  content="summaryあるいは、summary_large_imageの指定ができます。"
/>
<meta property="twitter:url" content="サイトのURL" />
<meta property="twitter:title" content="上記titleと同じとする。" />
<meta property="twitter:description" content="上記descriptionと同じとする。" />
<meta property="twitter:image" content="画像を絶対パスで記述" />

<!-- favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
<link rel="icon" type="image/pn" href="images/android-chrome-192x192.png" />

<!-- 外部のCSSファイル -->
<link rel="stylesheet" href="/asset/css/style.css" />
