<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- meta -->
    <%- include('./_component/_head'); %>
  </head>

  <body>
    <%- include('./_component/_header'); %>

      <main role="main">
        <section class="mv"></section>

        <section class=""></section>

        <section class=""></section>

        <section class=""></section>

        <section class=""></section>
      </main>
    <footer>
      <%- include('./_component/_footer'); %>
    </footer>
  </body>
</html>
